.imageInfographic .infographic {
    height: 375px;
    margin-bottom: 1rem;
}

.imageInfographic p.modifiedDate {
    text-align: center;
}

.infographicTitle h2{
padding: 15px 0px;
}

.imageInfographic .imageInfographicMid {
    margin-left: 1rem;
    margin-right: 1rem;
}

.imageInfographic .infographicItemHeader {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.imageInfographic p.modifiedDate {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.imageInfographic .infographicMedia img {
    height: 150px;
    width: 150px;
    margin: 1rem;
    padding: 1rem;
}

.imageInfographic .infographicItemText.standardContent {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
}

.imageInfographic .disclaimerWrapper {
    text-align: center;
}

.imageInfographic .infoGraphicDisclaimer {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) and (max-width: 1199.99px) {
    .imageInfographic .infographicMedia img {
        max-height: 200px;
    }
}
