.imageInfographic .infographic {
    height: 375px;
    margin-bottom: 1rem;
}

.imageInfographic p.modifiedDate {
    text-align: center;
}

.imageInfographic .infographicTitle h2 {
    padding: 15px 0px;
}

.imageInfographic .infographicItemHeader {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.imageInfographic p.modifiedDate {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.imageInfographic .infographicMedia img {
    height: 150px;
    width: 150px;
    margin: 1rem;
    padding: 1rem;
}

.imageInfographic .infographicItemText.standardContent {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
}

.imageInfographic .disclaimerWrapper {
    text-align: center;
}

.imageInfographic .infoGraphicDisclaimer {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.imageInfographic .imageInfographicMid {
    margin: 0;
}

/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) and (max-width: 1199.99px) {

    .imageInfographic .infographic {
        height: 400px;
    }
    
    .imageInfographic .infographicMedia img {
        max-height: 200px;
    }
}


/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

    .imageInfographic .imageInfographicMid {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* Mobile, tablets (below 992px) */
@media screen and (max-width: 991.97px) {

    .infographicWrapper.imageInfographic {
        height: unset;
        margin: 1rem;
        padding: 1rem;
    }

    .imageInfographic .infographicTitle h2 {
        margin-top: 0;
        padding-top: 0;
    }

    .imageInfographic .imageInfographicMid {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    .imageInfographic .infographic {
        display: block;
    }
}
