.infographicItemHeader {
    min-height: 100px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}


.infographicImage img {
    max-height: 275px;
    margin: 1rem;
    padding: 1rem;
    width: -webkit-fill-available;
}



.infographicWrapper.card .infographicItemHeader img.card-img {
  padding: 1rem;
  margin: 1rem;
}

div.gridOrganizerWrapper div.gridOrganizer.standardContent {
    justify-content: start;
    flex-flow: unset;
    flex-direction: row;
    gap: 1rem;
}

div.gridOrganizerWrapper .gridOrganizer.standardContent.card-deck > * + * {
    margin-left: 1rem;
}
